*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    background-color: black;
    min-height: 100vh;
    width: 100%;
    padding: 3vw 6vw;
}
#main>h1{
    color: yellowgreen;
    font-size: 3vw;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: 2px underline yellowgreen;
}
.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-item {
    margin: 20px;
    text-align: center;
}

.project-item img {
    width: 400px;
    height: 250px;
    border-radius: 50px;
    object-fit: cover;
}
.project-item h1{
    color: yellowgreen;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: 1px underline yellowgreen;
}
.project-item a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}